{% extends "base.html" %}


{% block content %}
    <div class="wrap">
        <div class="home-slider">
            <div class="swiper-home">
                <div class="swiper-next">
                    NEXT
                </div>
                <div class="swiper-prev">
                    PREV
                </div>
                <div class="swiper-wrapper">
                    {% for top_new in top_news %}
                    <div class="swiper-slide">
                        <article class="big-sticky-post">
                            <div class="post-meta">
                                <span class="post-date">
                                    {{ top_new.published }}
                                </span>
                                <span class="post-category">
                                    <a href="#">{{ top_new.news_type }}</a>
                                </span>
                            </div>
                            <div class="ciz-thumb">
                                <a target="_blank" href="{{top_new.link}}">
                                    <div class="image-container">
                                        <img class="uniform-image" alt="" src="{{top_new.url}}" />
                                    </div>
                                </a>
                            </div>
                            
                            <h1>
                                <a  target="_blank"  href={{top_new.link}}>
                                    {{ top_new.title }}
                                </a>
                            </h1>
                            <div class="post-des">
                                <p>{{ top_new.summary }}</p>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--hightlight news-->
        <div class="tag-news-caption">
            <p class="fixtext">  #HIGHLIGHTS news</p>
        </div>
        <div class="tags-three">
            <div class="row">
                {% for each_hight in hightlight %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <article class="ciz-post">
                        <div class="post-thumb">
                        </div>
                        <h3 class="post-title">
                            <a target="_blank" href={{ each_hight.link}}>{{ each_hight.title }}</a>
                        </h3>
                        <div class="post-meta">
                            <span class="post-date">
                                {{ each_hight.published }}
                            </span>
                            <em>/</em>
                            <span class="post-category">
                                <a href="#">{{ each_hight.news_type }}</a>
                            </span>
                        </div>
                        <div class="post-des">
                            <p>{{ each_hight.summary }}</p>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>




    </div>

{% endblock %}
