<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="congnd91">
    <title>MazPage - Magazine, News, Blog, Shop, Newspaper Template</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet" />
    <!-- Vender -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet" />
    <!-- Main CSS (SCSS Compile) -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <!-- JavaScripts -->
    <!--<script src="js/modernizr.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--menu mobile-->
    <nav class="menu-res hidden-lg hidden-md ">
        <div class="menu-res-inner">
            <ul>
                <li class="menu-item-has-children">
                    <a href="/"> Home </a>
                </li>
                <li class="menu-item-has-children">
                    <a href="">
                        Category
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/news/Top Stories/">Top Stories</a>
                        </li>
                        <li>
                            <a href="/news/World/">World</a>
                        </li>
                        <li>
                            <a href="/news/Money/">Money</a>
                        </li>
                        <li>
                            <a href="/news/Technology/">Technology</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="">Country</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/news/Africa/">Africa</a>
                                </li>
                                <li>
                                    <a href="/news/Americas/">Americas</a>
                                </li>
                                <li>
                                    <a href="/news/Asia/">Asia</a>
                                </li>
                                <li>
                                    <a href="/news/Europe/">Europe</a>
                                </li>
                                <li>
                                    <a href="/news/Middle East/">Middle East</a>
                                </li>
                                <li>
                                    <a href="/news/U.S./">U.S.</a>
                                </li>
                                <li>
                                    <a href="/news/Middle East/">Middle East</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/news/Travel/">Travel</a>
                        </li>
                        <li>
                            <a href="/news/Video/">Video</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="">Sport</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/news/World Sport/">World Sport</a>
                                </li>
                                <li>
                                    <a href="/news/Football/">Football</a>
                                </li>
                                <li>
                                    <a href="/news/Golf/">Golf</a>
                                </li>
                                <li>
                                    <a href="/news/Motorsport/">Motorsport</a>
                                </li>
                                <li>
                                    <a href="/news/Tennis/">Tennis</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/news/Science & Space/">Science & Space</a>
                        </li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="menu-item-has-children">
                    <a href="">local News<span></span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/create/">Post News</a>
                        </li>
                        <li>
                            <a href="/user_news/">Your news</a>
                        </li>
                        <li>
                            <a href="/news/local/">Local news</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="menu-item-has-children">
                    <a href="">Account<span></span></a>
                    <ul class="sub-menu">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="/accounts/logout/">Sign Out</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/accounts/signup/">Signup</a>
                        </li>
                        <li>
                            <a href="/accounts/login/">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
            <p>Loading<span>.</span><span>.</span><span>.</span></p>
        </div>
    </div>
    <!--page-->
    <div class="page">
        <div class="mobile-bar hidden-lg hidden-md">
            <div class="menu-icon-mobile hidden-lg hidden-md">
                <i class="fa fa-navicon"></i>
                <span>MENU</span>
            </div>
        </div>
        <div class="logo-show">
            <a href="#" class="logo">
                <img alt="" src="images/logo1.png" />
            </a>
        </div>

        <nav class="menu-main menu-show hidden-sm hidden-xs">
            <div class="menu-main-inner">
                <ul class="">
                    <li class="menu-item-has-children">
                        <a href="/"><i class="fa fa-home"></i> Home </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="">
                            Category
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/news/Top Stories/">Top Stories</a>
                            </li>
                            <li>
                                <a href="/news/World/">World</a>
                            </li>
                            <li>
                                <a href="/news/Money/">Money</a>
                            </li>
                            <li>
                                <a href="/news/Technology/">Technology</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="">Country</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/news/Africa/">Africa</a>
                                    </li>
                                    <li>
                                        <a href="/news/Americas/">Americas</a>
                                    </li>
                                    <li>
                                        <a href="/news/Asia/">Asia</a>
                                    </li>
                                    <li>
                                        <a href="/news/Europe/">Europe</a>
                                    </li>
                                    <li>
                                        <a href="/news/Middle East/">Middle East</a>
                                    </li>
                                    <li>
                                        <a href="/news/U.S./">U.S.</a>
                                    </li>
                                    <li>
                                        <a href="/news/Middle East/">Middle East</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/news/Travel/">Travel</a>
                            </li>
                            <li>
                                <a href="/news/Video/">Video</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="">Sport</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/news/World Sport/">World Sport</a>
                                    </li>
                                    <li>
                                        <a href="/news/Football/">Football</a>
                                    </li>
                                    <li>
                                        <a href="/news/Golf/">Golf</a>
                                    </li>
                                    <li>
                                        <a href="/news/Motorsport/">Motorsport</a>
                                    </li>
                                    <li>
                                        <a href="/news/Tennis/">Tennis</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/news/Science & Space/">Science & Space</a>
                            </li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="menu-item-has-children">
                        <a href="">local News<span></span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/create/">Post News</a>
                            </li>
                            <li>
                                <a href="/user_news/">Your news</a>
                            </li>
                            <li>
                                <a href="/news/local/">Local news</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class="menu-item-has-children">
                        <a href="">Account<span></span></a>
                        <ul class="sub-menu">
                            {% if user.is_authenticated %}
                            <li>
                                <a href="/accounts/logout/">Sign Out</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/accounts/signup/">Signup</a>
                            </li>
                            <li>
                                <a href="/accounts/login/">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <!--wrapper-->
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <!--footer-->
        <footer class="footer">
            <a href="#" class="logo">
                <img alt="" src="images/logo1.png" />
            </a>
            <div class="footer-bar">
                <div class="allright">
                    <p> All rights reserved. Designed by <a href="#">Amir Salimi </a></p>
                </div>
                <div class="social-footer">
                    <a href="https://www.facebook.com" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.x.com" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.google.com" class="google">
                        <i class="fa fa-google-plus"></i>
                    </a>

                </div>
                <div class="clearfix"></div>
            </div>
        </footer>
    </div>
    <!--go to top-->
    <span class="totop">
        Go to
        <em>TOP</em>
    </span>
    
    <!--scrip file-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/jquery.matchHeight.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            setTimeout(function() {

                $('.nd-carrer').addClass("show-nd-carrer");
            }, 5000);
            $('.nd-carrer-close').click(function() {
                $('.nd-carrer').removeClass("show-nd-carrer");
            });
        });

    </script>
</body>

</html>